div{
    border: 5px solid black;
    padding: 20px;
    font-weight: bold;
}

.content, .main {
    display: flex;
}

.left{
    /* flex-basis: 40%; */
    width: 40%;

}

.right {
    /* flex-basis: 60%;
    width
     */

     width: 60%;
}


body section div img {
    width: 20vw;
    border: 10px solid red;
    border-radius: 50px;
}

.main {
    background-color: aqua;
    color: blue;
    margin: 20px;
    column-gap: 25px;
}