@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color : #183b56;
    --secondary-text-color : #577592;
    --asset-color : #2294ed;
    --asset-color-dark : #1d69ad;
    --padding-inline-session : 20px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}